<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <title>Document</title>
    <style>
        table{
            width: 100%;
        }
        tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </table>
</body>
<script>
    var socket = io.connect(location.origin);
    socket.on('clicked', function(data) {
        document.querySelectorAll('td').forEach(item=>{
            if (item.innerText == data.table_num){
                item.style.backgroundColor='black'
                return
            }
        })
    });
    document.querySelectorAll('td').forEach(item=>{item.addEventListener('click',async ()=>{
        var res = fetch ('http://127.0.0.1:5000/play/', {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({"clicked":item.innerText})
        })
        alert(item.innerText)

}
// 
)})


</script>
</html>